.splash {
}
a {
  text-decoration: none;
  color: black;
}
.splash h1{
  font-family:'Apple Chancery';
  text-align: center;
  margin-bottom: 50%;
  margin-top: 50%;
  color: #434b54;
}

.center {
  margin: auto;
}

.sign {
  padding: 4% 40%;
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 2px;
}

.log {
  background-color: #3778c2;
  color: aliceblue;
}